[submodule "vendor/Symfony/Component/Console"]
	path = vendor/Symfony/Component/Console
	url = https://github.com/symfony/Console.git
[submodule "vendor/Symfony/Component/ClassLoader"]
	path = vendor/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader
[submodule "vendor/Pheanstalk"]
	path = vendor/Pheanstalk
	url = https://github.com/pda/pheanstalk.git
[submodule "vendor/Symfony/Component/Yaml"]
	path = vendor/Symfony/Component/Yaml
	url = https://github.com/symfony/Yaml.git
[submodule "vendor/Github"]
	path = vendor/Github
	url = git://github.com/KnpLabs/php-github-api.git
